{%extends "layout.html"%}

{%block content%}
    {% from "_macros.html" import render_field%}

    <div class="container">
        <div class="row">
            <center>
                <h3>Empleados</h3>
                <h4>
                    <a href="index">Nuevo</a>
                </h4>

                <table border="1">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>teléfono</th>
                            <th>direccion</th>
                            <th>sueldo</th>
                            <th>Eliminar</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in empleado %}
                            <tr>
                                <td>{{emp.nombre}}</td>
                                <td>{{emp.email}}</td>
                                <td>{{emp.telefono}}</td>
                                <td>{{emp.direccion}}</td>
                                <td>{{emp.sueldo}}</td>
                                <td><a href="eliminar?id={{emp.id}}" class="btn btn-danger">Eliminar</a></td>
                                <td><a href="modificar?id={{emp.id}}" class="btn btn-warning">Modificar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </center>
        </div>
    </div>

{%endblock%}