{%extends "layout.html"%}

{%block content%}
{% from "_macros.html" import render_field%}

<link rel="stylesheet" href="../static/css/pizzas.css">

<div class="container">
    <div class="row">
        <center>
            <h3>Pizzas</h3>
            <form action="/finalizarCompra" name="datos" id="datos" method="POST"
                style="display: flex; justify-content: space-between; border: solid 1px black; padding: 20px;">
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{ render_field(form_datos.nombre, class="form-control") }}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{ render_field(form_datos.direccion, class="form-control") }}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{ render_field(form_datos.fechaCompra, class="form-control") }}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 float-label-form-group controls">
                        {{ render_field(form_datos.telefono, class="form-control") }}
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </form>
            <form action="/pizzas" name="registro" id="registro" method="post">
                <div
                    style="display: flex; justify-content: space-between; border: solid 1px black; padding: 10px; align-items: center;">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 float-label-form-group controls">
                            {{ render_field(form.tamano, class="form-control") }}
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 float-label-form-group controls">
                            <label for="">Ingredientes</label>
                            {{ render_field(form.checkJamon, class="form-control") }}
                            {{ render_field(form.checkPina, class="form-control") }}
                            {{ render_field(form.checkChamp, class="form-control") }}
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 float-label-form-group controls">
                            {{ render_field(form.numPizzas, class="form-control") }}
                        </div>
                        <input type="submit" class="btn btn-success" id="registrar" name="registrar" value="Registrar">
                    </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            </form>
        </center>
    </div>

    <div class="row" style="display: flex; justify-content: space-between;">

        <div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Tamaño</th>
                        <th>Ingredientes</th>
                        <th>Num Pizzas</th>
                        <th>Subtotal</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <form id="formEliminar" method="post" action="/eliminar_registros">
                        {% for det in detalle %}
                        <tr>
                            <td><input type="checkbox" name="eliminar" value="{{ det.id }}" id="{{ det.id }}"></td>
                            <td>{{det.tamano}}</td>
                            <td>{{det.ingredientes}}</td>
                            <td>{{det.cantPizzas}}</td>
                            <td>{{det.subtotal}}</td>
                            <td><a href="modificarPizza?id={{det.id}}" class="btn btn-warning">Modificar</a></td>
                        </tr>
                        {% endfor %}
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    </form>
                </tbody>
            </table>
            <button class="btn btn-danger" onclick="eliminarSeleccionados()">Quitar</button>
            <button type="button" class="btn btn-primary" onclick="confirmarTerminar()">Terminar</button>
        </div>
        <div style="display: block; border: solid 1px black; padding: 10px;">
            <div>
                <form method="post" id="formVentas" action="/filtrar-venta">
                    {{ render_field(form_ventas.selectVenta, class="form-control") }}

                    <div id="dia" name="dia_semana" class="additional-fields" style="display: none;">
                        {{ render_field(form_ventas.dia_semana, class="form-control") }}
                    </div>
                    <div id="mes" name="mes" class="additional-fields" style="display: none;">
                        {{ render_field(form_ventas.mes, class="form-control") }}
                    </div>
                    <div id="anio" name="anio" class="additional-fields" style="display: none;">
                        {{ render_field(form_ventas.anio, class="form-control") }}
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="submit" value="Enviar">
                </form>
            </div>
            <p>Ventas realizadas</p>
            <div>
                {% if ventas %}
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Total</th>
                            <th>Fecha de Compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in ventas %}
                        <tr>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No hay resultados para mostrar.</p>
                {% endif %}

                {% if total %}
                    <p>total: ${{total}}</p>
                {% endif %}
            </div>
        </div>


    </div>

</div>

<script>
    function confirmarTerminar() {
        var confirmacion = confirm("¿Estás seguro de que deseas terminar?");
        if (confirmacion) {
            document.getElementById("datos").submit(); // Envía el formulario si se confirma
        } else {
            // Puedes hacer algo más si se cancela la confirmación
            console.log("Terminar cancelado");
        }
    }


    document.addEventListener('DOMContentLoaded', function () {
        var selectVenta = document.getElementById('select_venta');
        var additionalFields = document.querySelectorAll('.additional-fields');

        // Función para mostrar u ocultar campos adicionales
        function toggleAdditionalFields() {
            var selectedOption = selectVenta.value;

            // Oculta todos los campos adicionales
            additionalFields.forEach(function (field) {
                field.style.display = 'none';
            });

            // Muestra el campo correspondiente a la opción seleccionada
            var selectedField = document.getElementById(selectedOption);
            if (selectedField) {
                selectedField.style.display = 'block';
            }
        }

        // Manejar el evento change
        selectVenta.addEventListener('change', toggleAdditionalFields);

        // Llamar a la función una vez para manejar el estado inicial
        toggleAdditionalFields();
    });
</script>

<script src="../static/js/pizzas.js"></script>
{%endblock%}